[Unit]
Description=Config Profile service
After=firewalld.service
Requires=network-online.target
 
[Service]
ExecStart=/etc/systemd/system/configProfile
StandardOutput=null
 
[Install]
WantedBy=multi-user.target
Alias=configProfile.service
